name: build

on: [
  pull_request,
  push,
  workflow_call
]

jobs:
  build:
    strategy:
      matrix:
        java: [ 21 ]
        os: [
          ubuntu-latest,
          windows-latest
        ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout repository
        uses: actions/checkout@v5
      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4
      - name: setup jdk ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'adopt'
          java-package: jdk
      - name: make gradle wrapper executable
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew

      - name: build
        run: ./gradlew build

      - name: collect artifacts to out folder
        run: |
          mkdir out
          bash ./.github/scripts/build_output.sh
      - name: capture build artifacts
        if: ${{ runner.os == 'Linux' && matrix.java == '21' }}
        uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: out/
